body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#image-container {
    display: flex;
    flex-direction: column;
    height: max(100vh, 600px);
    justify-content: flex-start;
    position: relative;
    width: max(30vw, 300px);
}

#image {
    height: 100%;
    object-fit: cover;
    overflow: hiden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#logo {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    margin-top: 100px;
    padding: 13px 0;
    text-align: center;
    width: inherit;
}

#credit {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: rgba(221, 208, 208, 0.879);
    font-size: 10px;    
    margin-top: 100px;
    position: fixed;
    text-align: center;
    width: inherit;
}

#credit > a {
    color: rgba(221, 208, 208, 0.879);
}



#form-container {
    background-color: rgba(243, 242, 242, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#caption,
#form,
#submit {
    padding: 25px 300px 25px 50px;
}

#form {
    padding-top: 0;
    padding-bottom: 0;
}




#caption > p {
    margin: 0;
}

#caption > p:last-child {
    margin-bottom: 30px;
}



#form {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
}

#form-caption {
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#form-top,
#form-middle,
#form-bottom {
    align-items: center;
    display: flex;
    width: 400px;
}

#form-bottom {
    margin-bottom: 20px;
}

.form-element {
    font-size: 10px;
    padding: 5px 30px 5px 0;
    text-transform: uppercase;
    width: 170px;
}





#submit > button {
    background-color: rgba(253, 184, 19, 1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    padding: 7.5px 35px;
    box-shadow: 1px 1px 1px rgba(221, 208, 208, 0.879);
}

#submit > button,
#submit > p {
    font-size: 15px;
}

#submit > p > a {
    color:rgba(253, 184, 19, 1);
    text-decoration: none;
}