body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#image-container {
    display: flex;
    flex-direction: column;
    height: max(100vh, 600px);
    justify-content: flex-start;
    position: relative;
    width: max(30vw, 300px);
}

#image {
    height: 100%;
    object-fit: cover;
    overflow: hideen;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#logo {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    margin-top: 100px;
    padding: 13px 0;
    text-align: center;
}

#credit {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: rgba(221, 208, 208, 0.879);
    font-size: 10px;    
    position: fixed;
    text-align: center;
    width: inherit;
}

#credit > a {
    color: rgba(221, 208, 208, 0.879);
}



#form-contianer {
    background-color: rgba(255, 255, 255, 1);
}

#caption {
    background-color: red;
}



#form {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#form-caption {
    background-color: aqua;
    flex-shrink: 0;
}

form {
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#form-left {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#form-right {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 200px;
}




#submit {
    background-color: green;
}