body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#image-container {
    display: flex;
    flex-direction: column;
    height: max(100vh, 600px);
    justify-content: flex-start;
    position: relative;
    width: max(30vw, 300px);
}

#image {
    height: 100%;
    object-fit: cover;
    overflow: hiden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#logo {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    margin-top: 100px;
    padding: 13px 0;
    text-align: center;
    width: inherit;
}

#credit {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: rgba(221, 208, 208, 0.879);
    font-size: 10px;    
    margin-top: 100px;
    position: fixed;
    text-align: center;
    width: inherit;
}

#credit > a {
    color: rgba(221, 208, 208, 0.879);
}



#form-container {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#caption {
    padding: 25px;
    padding-right: 300px;
}

#caption > p {
    margin: 0;
}

#caption > p:last-child {
    margin-bottom: 30px;
}



#form {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-right: 300px;
}

#form-caption {
    background-color: aqua;
    flex-shrink: 0;
}

form {
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#form-left {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#form-right {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 200px;
}



#submit {
    background-color: green;
    padding: 25px;
    padding-right: 300px;
}